body {
background-color:e5e5e5;
margin:0px;
font-size:14px;
background-image:url(Genshinwallpaper.jpg);
}

#header {
background-color: RGB(134,251,203);
margin-left:10px;
margin-bottom:0px;
margin-top:10px;
margin-right:10px;
border:dashed;
height:50px;
}

#header h1 {
text-align:center;
margin:10px;
}

#navbar {

}

#navbar ul {
background-color:RGB(134,251,203) ;
margin-left:10px;
margin-bottom:10px;
margin-top:0px;
margin-right:10px;
border:dotted;
border-radius:100px;
text-align:center;
padding:5px;
}
#navbar ul li{
vertical-align:middle;
display:inline;
margin-left:100px;
margin-right:100px;
}
#navbar ul li a{
text-decoration:none;
}

#navbar ul li a:visited{
color:black;
}
#navbar ul li a:hover{
color:#00FFFF;
background-color:white;
}

.table1header {
background-image:URL(Pyro.jpg);
background-size:contain;
margin:10px;
height:60px;
text-align:center;
padding:5px;
margin-left:200px;
margin-right:200px;
}

.table1content {
border:solid;
height:300;
background:linear-gradient(to right,#DC143C,red);
margin-left:10px;
margin-right:180px;
margin-top:17px;
margin-bottom:10px;
border-radius:5px;
padding:20px;
}

.table1content p:first-letter{
color:red;
}


#sidebardiluc{
height:55px;
background:linear-gradient(to right,#DC143C,red);
border:solid;
padding:20px;
margin-top:10px;
margin-bottom:10px;
margin-left:0px;
margin-right:10px;
border-radius:5px;
float:right;
width:100px;
height:290;
}


#sidebardiluc ul{

}

#sidebardiluc ul li{

}

#sidebardiluc ul li a{
text-decoration-style:none;
}

#sidebardiluc ul li a:unvisited{
color:orange;
}

#sidebardiluc ul li a:visited{
color:orange;
}

#sidebardiluc ul li a:hover{
color:yellow;
}

.table2header {
background-image:URL(Geo.jpg);
background-size:contain;
margin:10px;
height:60px;
text-align:center;
padding:5px;
margin-left:200px;
margin-right:200px;
}

.table2content {
border:solid;
height:300;
background:linear-gradient(to right,#B8860B,yellow);
margin-left:10px;
margin-right:180px;
margin-top:17px;
margin-bottom:10px;
border-radius:5px;
padding:20px;
}


#sidebarzhongli{
height:55px;
background:linear-gradient(to right,#B8860B,yellow);
border:solid;
padding:20px;
margin-top:10px;
margin-bottom:10px;
margin-left:0px;
margin-right:10px;
border-radius:5px;
float:right;
width:100px;
height:290;
}

#sidebarzhongli ul li a:unvisited{
color:orange;
}

#sidebarzhongli ul li a:visited{
color:orange;
}

#sidebarzhongli ul li a:hover{
color:yellow;
}

